on init
    # Backlight
    chown system system /sys/class/backlight/panel0-backlight/brightness
    chmod 660 /sys/class/backlight/panel0-backlight/brightness

    # Green notification light
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/breath
    chmod 660 /sys/class/leds/green/breath

    # Red notification light
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/breath
    chmod 660 /sys/class/leds/red/breath

service vendor.light-hal-2-0 /vendor/bin/hw/android.hardware.light@2.0-service.asus_sdm660
    interface android.hardware.light@2.0::ILight default
    class hal
    user system
    group system
    # shutting off lights while powering-off
    shutdown critical
