#Copyright (C) 2019 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

# action trigger order:
# early-init -> init -> late-init -> early-fs -> factory-fs -> fs -> post-fs -> late-fs -> post-fs-data ->
# load_persist_props_action -> zygote-start -> firmware_mounts_complete -> early-boot -> boot -> mmi

import /vendor/etc/init/hw/init.amt.target.rc

on fs
    # move from device/qcom/sdm660_64/init.target.rc
    mount_all /vendor/etc/fstab.qcom
    swapon_all /vendor/etc/fstab.qcom
    chown root system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist
    mkdir /mnt/vendor/persist/data 0700 system system
    mkdir /mnt/vendor/persist/bms 0700 root system
    restorecon_recursive /mnt/vendor/persist
    write /sys/kernel/boot_adsp/boot 1
    # move from device/qcom/sdm660_64/init.target.rc

    # Add by AMT.meng.lv, 08/29/2019, Optimize the nvram_country sequence begin
    start nvram_country
    # Add by AMT.meng.lv, 08/29/2019, Optimize the nvram_country sequence end

    # Add by AMT.meng.lv, 08/30/2019, Set camera api to camera2 begin
    setprop persist.sys.camera.camera2 true
    # Add by AMT.meng.lv, 08/30/2019, Set camera api to camera2 end

on post-fs-data
	chown system system /sys/class/leds/red/blink
	chown system system /sys/class/leds/green/blink


on early-boot
    # add by wildbook at 20190828 +++
     chown system system /dev/input/event5  # stk3x3x-light
     chown system system /dev/input/event6  # stk3x3x-proximity
    # add by wildbook at 20190828 ---

service nvram_country system/vendor/bin/nvram_country
    user system
    group system
    oneshot
    disabled
