#Copyright (C) 2019 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.

## zb601kl m1

# action trigger order:
# early-init -> init -> late-init -> early-fs -> factory-fs -> fs -> post-fs -> late-fs -> post-fs-data ->
# early-boot -> boot

on boot
    # TODO
    #add for als/ps permission by wildbook at 2019/09/03 start
    chmod 0644 /sys/class/sensors/stk3x1x-proximity/sensors_enable
    chmod 0644 /sys/class/sensors/stk3x1x-proximity/sensors_delay
    chmod 0644 /sys/class/sensors/stk3x1x-proximity/sensors_calibrate
    chmod 0644 /sys/class/sensors/stk3x1x-proximity/sensors_enable_wakeup
    chmod 0644 /sys/class/sensors/stk3x1x-proximity/sensors_flush
    chmod 0644 /sys/class/sensors/stk3x1x-proximity/sensors_name
    chown system system /sys/class/sensors/stk3x1x-proximity/sensors_enable
    chown system system /sys/class/sensors/stk3x1x-proximity/sensors_delay
    chown system system /sys/class/sensors/stk3x1x-proximity/sensors_calibrate
    chown system system /sys/class/sensors/stk3x1x-proximity/sensors_enable_wakeup
    chown system system /sys/class/sensors/stk3x1x-proximity/sensors_flush
    chown system system /sys/class/sensors/stk3x1x-proximity/sensors_name

    chmod 0644 /sys/class/sensors/stk3x1x-light/sensors_enable
    chmod 0644 /sys/class/sensors/stk3x1x-light/sensors_delay
    chmod 0644 /sys/class/sensors/stk3x1x-light/sensors_calibrate
    chmod 0644 /sys/class/sensors/stk3x1x-light/sensors_enable_wakeup
    chmod 0644 /sys/class/sensors/stk3x1x-light/sensors_flush
    chmod 0644 /sys/class/sensors/stk3x1x-light/sensors_name
    chown system system /sys/class/sensors/stk3x1x-light/sensors_enable
    chown system system /sys/class/sensors/stk3x1x-light/sensors_delay
    chown system system /sys/class/sensors/stk3x1x-light/sensors_calibrate
    chown system system /sys/class/sensors/stk3x1x-light/sensors_enable_wakeup
    chown system system /sys/class/sensors/stk3x1x-light/sensors_flush
    chown system system /sys/class/sensors/stk3x1x-light/sensors_name

    chown radio radio sys/module/stk3x1x/parameters/call_status_flag
    #add for als/ps permission by wildbook at 2019/09/03 end

on property:ro.config.versatility=*
    write /proc/countrycode ${ro.config.versatility}
